* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: #252525;
   gap: 5px;
   color: #eee;
}

h3 {
   color: #eee;
   text-transform: uppercase;
}
.header {
   display: flex;
   justify-content: space-around;
   width: 400px;
   align-items: center;
}

#output {
   color: orange;
}

button {
   width: 90px;
   height: 30px;
   border-radius: 10px;
   border: none;
   color: #fff;
}

#popup {
   background-color: rgb(99, 143, 33);
}

#popup:active {
   background-color: rgba(99, 143, 33, 0.459);
}

#black {
   background-color: #131212;
}

#black:active {
   background-color: #13121241;
}

#random {
   background-color: rgba(31, 72, 185, 0.733);
}

#random:active {
   background-color: rgba(31, 72, 185, 0.288);
}

#reset {
   background-color: rgb(235, 75, 75);
}

#reset:active {
   background-color: rgba(235, 75, 75, 0.308);
}
#board {
   width: 350px;
   height: 350px;
   background-color: #22552255;
   display: grid;
   cursor: pointer;
}

.footer {
   display: flex;
   justify-content: space-around;
   width: 400px;
   align-items: center;
}